[Unit]
Description=FIM Sentinel — File Integrity Monitor
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/kali/-FIM_project
ExecStart=/home/kali/-FIM_project/scripts/fim-start.sh
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
